# Data Quality Report

## Import libraries

In [4]:
import numpy as np
import pandas as pd
import missingno as msno
import re
from tabular import DataQualityWorkflow

## Import data

In [5]:
# Specify credentials to connect to BigQuery
sql = "SELECT * FROM `[table]]`"
project_id = 'bcx-insights'

# Load in the data to pandas
df = pd.read_gbq(sql, project_id=project_id, dialect='standard')

ImportError: Missing optional dependency 'pandas-gbq'. pandas-gbq is required to load data from Google BigQuery. See the docs: https://pandas-gbq.readthedocs.io. Use pip or conda to install pandas-gbq.

In [4]:
# Check the first 5 rows of data
df.head()

,DISPUTE_CREATE_DATE,START_DATE,END_DATE,CURRENT_INDIC,SRC_DELETED_INDIC,CREATE_DATE,RESOLUTION_DATE,ACCOUNT_TYPE_CODE,ACCOUNT_TYPE_SUB_CODE,ACCOUNT_TYPE_DESC,...,TERRITORY_ID_ANON,TERRITORY_NAME_ANON,OWNER_EMPLOYEE_NO_ANON,CREATOR_EMPLOYEE_NO_ANON,RESOLVE_USER_NAME_ANON,RESOLVE_NAME_ANON,RESOLVE_EMPLOYEE_NO_ANON,CASE_ID_ANON,CREATE_PHONE_ANON,OWNER_PHONE_ANON
0,2019-01-16 09:39:08+00:00,2019-07-17 00:00:00+00:00,NaT,Y,N,2019-01-16 12:26:20+00:00,2019-01-22 12:26:20+00:00,B,BR,Voice: Small,...,-2147891649670314697,-7311040657949828973,-7209673646972270848,-7209673646972270848,2422909929193813456,-4408743475847744191,8484224414149533575,None,5100925659296341771,5100925659296341771
1,2013-03-06 17:33:55+00:00,2019-03-17 00:00:00+00:00,NaT,Y,N,2013-03-06 07:50:08+00:00,2013-03-09 07:50:09+00:00,B,BR,Voice: Small,...,-2147891649670314697,-7311040657949828973,-918612251859800576,-918612251859800576,8920682303606699892,3665470365085009270,2708300424338946405,None,880058214187835056,5100925659296341771
2,2013-02-07 13:05:26+00:00,2019-03-17 00:00:00+00:00,NaT,Y,N,2013-02-07 16:06:05+00:00,2013-02-15 16:06:02+00:00,B,MM,Medium,...,-6670148287727183587,7145421440030007969,-918612251859800576,-918612251859800576,-3522719346150787,4794053435346540222,-4360573896097329861,None,880058214187835056,5100925659296341771
3,2013-09-05 10:16:59+00:00,2019-03-18 00:00:00+00:00,NaT,Y,N,2013-09-05 09:15:44+00:00,2013-09-19 09:15:41+00:00,B,BR,Voice: Small,...,-2147891649670314697,-7311040657949828973,-918612251859800576,-918612251859800576,-7828409238138630939,-8860941335433371806,3830874355164730506,None,880058214187835056,5100925659296341771
4,2014-03-19 10:55:07+00:00,2019-03-18 00:00:00+00:00,NaT,Y,N,2014-03-19 15:16:49+00:00,2014-03-24 15:16:47+00:00,B,BR,Voice: Small,...,8306699007666442960,-6522931602639901043,-918612251859800576,-918612251859800576,4547819723228665192,-5244469819316635725,1169060534454322226,None,880058214187835056,5100925659296341771

In [5]:
DQW = DataQualityWorkflow(df)

---

## Row Analysis

In [6]:
DQW.row_analysis()

                   Info   Count
0            Total_rows  919660
1        Row_w_ANY_nans  919660
2       Row_w_ONLY_nans       0
3  Total_duplicate_rows   26462
4     Total_unique_rows  893198

## Column Analysis

In [7]:
DQW.column_analysis()

                      Info  Count
0            TOTAL_COLUMNS     57
1   COLUMNS_EXCL_ONLY_NANS      5
2      COLUMNS_W_ONLY_NANS      2
3  TOTAL_DUPLICATE_COLUMNS      0
4     TOTAL_UNIQUE_COLUMNS     57

## Missing values

In [8]:
DQW.nulls()

        Column_name       Null%
2          END_DATE  100.000000
54     CASE_ID_ANON  100.000000
21  WORKING_SECONDS   83.397125
32  ACCOUNT_NO_ANON    0.000109
11      DISPUTE_AMT    0.000109

## Column Types

In [10]:
DQW.colums_grouped_per_datatype()

,"datetime64[ns, UTC]",object,float64,int64
0,DISPUTE_CREATE_DATE,CURRENT_INDIC,DISPUTE_AMT,DISPUTE_KEY_ANON
1,START_DATE,SRC_DELETED_INDIC,APPROVE_AMT,DISPUTE_SRC_OBJID_ANON
2,END_DATE,ACCOUNT_TYPE_CODE,WORKING_SECONDS,CASE_SRC_OBJID_ANON
3,CREATE_DATE,ACCOUNT_TYPE_SUB_CODE,ACCOUNT_NO_ANON,DISPUTE_CASE_ID_ANON
4,RESOLUTION_DATE,ACCOUNT_TYPE_DESC,,BAN_ANON
5,,CREATOR_MANAGER_NAME,,BILL_ACCOUNT_NAME_ANON
6,,REASON_CODE,,ACCOUNT_NAME_ANON
7,,REASON_DESC,,CREATOR_USER_NAME_ANON
8,,FEATURE_CODE,,CREATOR_NAME_ANON
9,,STATUS_DESC,,CREATOR_MANAGER_SECTION_NAME_ANON
10,,CREDIT_DEBIT_INDIC,,CREATOR_SUPVR_NAME_ANON
11,,QUEUE_DESC,,CREATOR_SUPVR_SECTION_NAME_ANON
12,,TERRITORY_SEGMENT_TYPE_DESC,,OWNER_USER_NAME_ANON
13,,TERRITORY_REGION_NAME,,OWNER_NAME_ANON
14,,RESOLVE_SECTION_NAME,,OWNER_MANAGER_NAME_ANON
15,,SOURCE_DESC,,OWNER_MANAGER_SECTION_NAME_ANON
16,,COMMENTS,,OWNER_SUPVR_NAME_ANON
17,,DISPUTE_GROUP,,OWNER_SUPVR_SECTION_NAME_ANON
18,,CASE_ID_ANON,,PRODUCT_ID_ANON
19,,,,INVOICE_NO_ANON
20,,,,TERRITORY_ID_ANON
21,,,,TERRITORY_NAME_ANON
22,,,,OWNER_EMPLOYEE_NO_ANON
23,,,,CREATOR_EMPLOYEE_NO_ANON
24,,,,RESOLVE_USER_NAME_ANON
25,,,,RESOLVE_NAME_ANON
26,,,,RESOLVE_EMPLOYEE_NO_ANON
27,,,,CREATE_PHONE_ANON
28,,,,OWNER_PHONE_ANON

## Column Composition

In [11]:
DQW.column_compsition()

,columns,%top_1,%top_2,%top_3,%top_4,%top_5,top_1,top_2,top_3,top_4,top_5,total_unique
0,DISPUTE_CREATE_DATE,0.00565426,0.00358828,0.00130483,0.00119609,0.00108736,2007-12-31 11:45:27+00:00,1950-01-01 00:00:00+00:00,2018-09-19 00:29:01+00:00,2018-09-19 00:29:00+00:00,2018-09-19 00:29:21+00:00,887841
1,START_DATE,17.9818,8.54381,8.0085,6.82263,6.40291,2014-03-18 00:00:00+00:00,2019-05-04 00:00:00+00:00,2014-02-11 00:00:00+00:00,2014-03-17 00:00:00+00:00,2018-06-16 00:00:00+00:00,1455
2,CURRENT_INDIC,100,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,1
3,SRC_DELETED_INDIC,100,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,1
4,CREATE_DATE,0.00445817,0.000978623,0.000869887,0.000652415,0.000652415,2013-01-03 00:00:00+00:00,2002-08-22 00:00:00+00:00,2002-07-10 00:00:00+00:00,2002-08-21 00:00:00+00:00,2010-10-28 00:00:00+00:00,888211
5,RESOLUTION_DATE,0.168541,0.00652415,0.00619794,0.00293587,0.00260966,1753-01-01 00:00:00+00:00,2004-07-14 00:00:00+00:00,1950-01-01 00:00:00+00:00,2013-01-03 00:00:00+00:00,2013-04-05 00:00:00+00:00,886441
6,ACCOUNT_TYPE_CODE,97.4326,2.45406,0.0724181,0.0333819,0.00380575,B,G,C,M,T,7
7,ACCOUNT_TYPE_SUB_CODE,40.6878,23.7417,16.7869,8.55512,4.47535,BR,MM,BN,MD,PA,33
8,ACCOUNT_TYPE_DESC,25.5659,23.7459,16.775,15.1255,6.69726,Voice: Small,Medium,Bus. Default,Small,Voice: Medium,40
9,CREATOR_MANAGER_NAME,48.5349,7.02368,5.56804,4.49884,3.57513,-,Mr. Mogammat Yusuf Effendi,Mr. Zaahid Rafick Toffie,- Keith Brink,- Quintin Flandorp,113
10,DISPUTE_AMT,3.39028,2.51745,2.43579,2.13601,2.04902,0,1000,500,201,0.01,302909
11,REASON_CODE,11.0944,8.8125,5.72983,5.6809,5.19279,200,75,49,82,218,82
12,REASON_DESC,11.0944,8.8125,5.72983,5.6809,5.19279,200 Rental,75 Resolution Protection,49 Out Of Order Rental,82 One Month POA,218 Payment Extension,82
13,FEATURE_CODE,46.4168,12.6472,11.4092,5.72983,3.84653,-,OT0093,OT0046,OT0024,DISPUT,40
14,STATUS_DESC,67.838,32.014,0.147989,NaN,NaN,Reject,Accept,Open,NaN,NaN,3
15,APPROVE_AMT,67.9606,0.196268,0.183872,0.169628,0.16604,0,0.01,130.7,261.4,0.02,131048
16,CREDIT_DEBIT_INDIC,67.8893,32.0771,0.0335994,NaN,NaN,-,C,D,NaN,NaN,3
17,QUEUE_DESC,99.8598,0.0645891,0.0238131,0.0117435,0.0109823,-,237 CM Business Small & Default,232 CM Business Medium & Large,BCX Enterprise Disputes,526 Resolution Centre NER,26
18,TERRITORY_SEGMENT_TYPE_DESC,99.9275,0.0408847,0.0268578,0.00478438,NaN,Business,Special Markets,Government,Residential,NaN,4
19,TERRITORY_REGION_NAME,100,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,1
20,WORKING_SECONDS,4.3847,3.26544,3.12856,2.99037,2.68845,0,86400,1,-1,86399,7460
21,RESOLVE_SECTION_NAME,33.8901,31.1997,17.3685,5.22421,2.23202,-,Credit Management,Contact Centre Operations,Call Centres,Mass Market,55
22,SOURCE_DESC,100,NaN,NaN,NaN,NaN,-,NaN,NaN,NaN,NaN,1
23,COMMENTS,0.700476,0.100798,0.0816606,0.0656764,0.0482787,-,RECENT PAYMENT,Disp.75 logged as per moratorium for Telkom fo...,recent payment,Investigation in progress for unauthorized lon...,780633
24,DISPUTE_GROUP,33.5093,18.6025,8.04341,5.12015,4.89692,Credit Management,Rental,Internet,Payments,-,34
25,DISPUTE_KEY_ANON,0.000217472,0.000217472,0.000217472,0.000217472,0.000217472,1.19987e+17,6.28554e+18,3.72355e+17,4.10257e+18,-9.0707e+18,893198
26,DISPUTE_SRC_OBJID_ANON,0.000217472,0.000217472,0.000217472,0.000217472,0.000217472,5.64689e+17,2.44058e+18,-7.48301e+18,8.45607e+18,-2.97993e+18,893198
27,CASE_SRC_OBJID_ANON,0.00565426,0.000217472,0.000217472,0.000217472,0.000217472,-2.59029e+18,6.5129e+18,-8.91519e+18,-2.68688e+18,8.60249e+18,893147
28,DISPUTE_CASE_ID_ANON,0.000217472,0.000217472,0.000217472,0.000217472,0.000217472,-6.71948e+18,-1.53923e+18,5.62534e+18,8.58839e+18,-6.51453e+18,893198
29,BAN_ANON,0.0506709,0.0239219,0.0195725,0.0185938,0.0105474,-2.73471e+18,8.07451e+17,8.56682e+18,2.60504e+18,-5.12923e+18,332194
30,BILL_ACCOUNT_NAME_ANON,0.044038,0.0341431,0.0265315,0.0253355,0.0210948,-4.90117e+18,7.2351e+18,-8.07378e+17,4.4256e+18,-3.52593e+18,296862
31,ACCOUNT_NO_ANON,0.183329,0.0247918,0.0182676,0.015223,0.0150056,-3.47768e+18,8.28659e+18,8.07619e+18,-9.68017e+16,-5.09167e+18,298696
32,ACCOUNT_NAME_ANON,0.110041,0.106779,0.0888372,0.0777461,0.076985,-3.31086e+18,3.56897e+18,-5.6183e+18,-8.86172e+18,-1.46804e+18,263016
33,CREATOR_USER_NAME_ANON,0.947524,0.789313,0.759194,0.708197,0.679816,7.21061e+18,5.31947e+18,-4.44083e+18,3.35031e+18,1.91257e+18,5029
34,CREATOR_NAME_ANON,0.947524,0.789313,0.759194,0.708197,0.679816,-4.07053e+18,8.00028e+18,-5.24447e+18,4.89575e+18,4.32909e+18,4873
35,CREATOR_MANAGER_SECTION_NAME_ANON,62.3713,7.02368,5.56804,4.86984,4.41979,5.10093e+18,4.5524e+18,2.65045e+18,-4.54874e+18,-6.38382e+17,38
36,CREATOR_SUPVR_NAME_ANON,38.7623,3.10669,2.82594,2.82017,2.51408,5.10093e+18,-4.915e+17,-8.29439e+17,-4.66307e+18,-4.42381e+18,495
37,CREATOR_SUPVR_SECTION_NAME_ANON,58.5351,9.8842,8.49292,8.39571,4.69336,5.10093e+18,5.04192e+18,7.68e+18,-6.38382e+17,-3.88816e+18,57
38,OWNER_USER_NAME_ANON,1.40846,1.11465,1.11356,1.07996,0.795294,-1.61911e+18,-9.83978e+17,7.26673e+18,7.41948e+18,3.84845e+18,5060
39,OWNER_NAME_ANON,1.40846,1.11465,1.11356,1.07996,0.795294,1.46818e+18,-2.55745e+18,8.00028e+18,-4.66307e+18,-9.02453e+18,4906
40,OWNER_MANAGER_NAME_ANON,45.9162,9.17154,6.04897,5.78942,3.77422,5.10093e+18,-6.26271e+18,4.75433e+18,-6.91967e+18,8.85041e+18,117
41,OWNER_MANAGER_SECTION_NAME_ANON,58.0338,9.17154,6.08812,6.04897,3.77422,5.10093e+18,2.65045e+18,-4.54874e+18,4.5524e+18,8.76566e+18,41
42,OWNER_SUPVR_NAME_ANON,36.1578,4.72272,4.53874,2.69067,2.35892,5.10093e+18,-3.53053e+18,5.6574e+18,-4.915e+17,-4.66307e+18,515
43,OWNER_SUPVR_SECTION_NAME_ANON,54.2267,13.8291,9.39021,7.13731,3.41333,5.10093e+18,7.68e+18,5.04192e+18,-6.38382e+17,-3.88816e+18,65
44,PRODUCT_ID_ANON,83.5291,0.0173977,0.00380575,0.0030446,0.00250092,5.10093e+18,-1.87079e+18,-6.98997e+18,-4.42663e+18,1.04604e+18,115826
45,INVOICE_NO_ANON,0.0973186,0.0100037,0.00445817,0.00358828,0.00260966,5.10093e+18,3.50983e+18,-6.88346e+18,-6.90806e+17,-7.52562e+18,695328
46,TERRITORY_ID_ANON,17.5221,11.5358,9.28561,8.35396,7.78048,8.55425e+18,-5.18133e+18,-2.14789e+18,-6.67015e+18,2.48874e+18,469
47,TERRITORY_NAME_ANON,17.5221,13.0891,11.5358,11.2216,9.28561,8.55425e+18,3.4397e+18,3.70371e+18,-6.52293e+18,-7.31104e+18,472
48,OWNER_EMPLOYEE_NO_ANON,1.40846,1.11465,1.11356,1.07996,0.795294,3.16243e+18,1.4331e+18,-4.23944e+18,-2.34906e+18,4.13229e+18,5094
49,CREATOR_EMPLOYEE_NO_ANON,0.947524,0.789313,0.759194,0.708197,0.679816,-6.88735e+18,-4.23944e+18,1.16906e+18,-3.8463e+18,1.95032e+18,5065
50,RESOLVE_USER_NAME_ANON,1.84112,1.77805,1.58156,1.11737,1.11639,-7.55779e+18,7.26673e+18,5.9718e+18,-2.61269e+18,-6.622e+18,2812
51,RESOLVE_NAME_ANON,1.84112,1.77805,1.58156,1.11737,1.11639,-4.97585e+18,8.00028e+18,-9.20511e+18,-2.75045e+18,4.89575e+18,2758
52,RESOLVE_EMPLOYEE_NO_ANON,1.84112,1.77805,1.58156,1.11737,1.11639,2.60767e+17,-4.23944e+18,-8.93519e+18,-7.36653e+18,-3.8463e+18,2868
53,CREATE_PHONE_ANON,13.9544,1.95116,1.87515,1.16054,0.947524,5.10093e+18,-3.57817e+18,-6.89874e+18,-3.62524e+18,5.13044e+18,2304
54,OWNER_PHONE_ANON,45.2414,4.53874,2.69067,2.35892,2.27312,5.10093e+18,2.39538e+18,-5.13309e+18,-8.52874e+18,-1.99636e+18,438

## Modes

In [12]:
DQW.mode_values_per_column()

                          Column_name                       Mode
0                 DISPUTE_CREATE_DATE  2007-12-31 11:45:27+00:00
1                          START_DATE  2014-03-18 00:00:00+00:00
2                            END_DATE                        NaT
3                       CURRENT_INDIC                          Y
4                   SRC_DELETED_INDIC                          N
5                         CREATE_DATE  2013-01-03 00:00:00+00:00
6                     RESOLUTION_DATE  1753-01-01 00:00:00+00:00
7                   ACCOUNT_TYPE_CODE                          B
8               ACCOUNT_TYPE_SUB_CODE                         BR
9                   ACCOUNT_TYPE_DESC               Voice: Small
10               CREATOR_MANAGER_NAME                          -
11                        DISPUTE_AMT                          0
12                        REASON_CODE                        200
13                        REASON_DESC                 200 Rental
14                       FEATURE_CODE                          -
15                        STATUS_DESC                     Reject
16                        APPROVE_AMT                          0
17                 CREDIT_DEBIT_INDIC                          -
18                         QUEUE_DESC                          -
19        TERRITORY_SEGMENT_TYPE_DESC                   Business
20              TERRITORY_REGION_NAME                          -
21                    WORKING_SECONDS                          0
22               RESOLVE_SECTION_NAME                          -
23                        SOURCE_DESC                          -
24                           COMMENTS                          -
25                      DISPUTE_GROUP          Credit Management
26                   DISPUTE_KEY_ANON       -9223078100331600947
27             DISPUTE_SRC_OBJID_ANON       -9223262605583661539
28                CASE_SRC_OBJID_ANON               -2.59029e+18
29               DISPUTE_CASE_ID_ANON       -9222251040475513418
30                           BAN_ANON               -2.73471e+18
31             BILL_ACCOUNT_NAME_ANON               -4.90117e+18
32                    ACCOUNT_NO_ANON               -3.47768e+18
33                  ACCOUNT_NAME_ANON               -3.31086e+18
34             CREATOR_USER_NAME_ANON                7.21061e+18
35                  CREATOR_NAME_ANON               -4.07053e+18
36  CREATOR_MANAGER_SECTION_NAME_ANON                5.10093e+18
37            CREATOR_SUPVR_NAME_ANON                5.10093e+18
38    CREATOR_SUPVR_SECTION_NAME_ANON                5.10093e+18
39               OWNER_USER_NAME_ANON               -1.61911e+18
40                    OWNER_NAME_ANON                1.46818e+18
41            OWNER_MANAGER_NAME_ANON                5.10093e+18
42    OWNER_MANAGER_SECTION_NAME_ANON                5.10093e+18
43              OWNER_SUPVR_NAME_ANON                5.10093e+18
44      OWNER_SUPVR_SECTION_NAME_ANON                5.10093e+18
45                    PRODUCT_ID_ANON                5.10093e+18
46                    INVOICE_NO_ANON                5.10093e+18
47                  TERRITORY_ID_ANON                8.55425e+18
48                TERRITORY_NAME_ANON                8.55425e+18
49             OWNER_EMPLOYEE_NO_ANON                3.16243e+18
50           CREATOR_EMPLOYEE_NO_ANON               -6.88735e+18
51             RESOLVE_USER_NAME_ANON               -7.55779e+18
52                  RESOLVE_NAME_ANON               -4.97585e+18
53           RESOLVE_EMPLOYEE_NO_ANON                2.60767e+17
54                       CASE_ID_ANON                        NaN
55                  CREATE_PHONE_ANON                5.10093e+18
56                   OWNER_PHONE_ANON                5.10093e+18

## Statistical quartiles

In [ ]:
# Convert Timestamp to numerical

In [ ]:
DQW.statistical_quartile_analysis()

## Outliers

In [ ]:
#Function to detect outliers in a given column of the data. 
#One can also specify the x * std for determining outliers and extreme outliers
def detect_outlier(df, column, out_thresh, x_out_thresh):
    std = df[column].std()
    counter_1 = 0
    counter_2 = 0
    
    for value in df[column]:
        if value >= out_thresh*std:
            counter_1 += 1
            if value >= x_out_thresh*std:
                counter_2 += 1
    
    return [column, counter_1, counter_2]

In [ ]:
#Loop through the columns applicaple for checking outliers
results = []
columns_to_check = [# columns with numerical values]

#Loop through columns and apply outlier function
for column in columns_to_check:
    results.append(detect_outlier(df, column, 2, 4))

#Display results in a dataframe
pd.DataFrame(results, columns=['Column', 'Outliers (>= 2 * std)', 'Extreme Outliers (>= 4 * std)']).set_index('Column')

---

---